*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.form-card{
width:900px;
padding:40px;
border-radius:20px;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(20px);
box-shadow:0 20px 60px rgba(0,0,0,0.3);
color:white;
}

h1{
text-align:center;
margin-bottom:30px;
}

.grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:15px;
}

input,select,textarea{
padding:10px;
border:none;
border-radius:6px;
outline:none;
}

textarea{
grid-column:span 2;
}

table{
width:100%;
margin-top:20px;
}

table input{
width:100%;
}

.radio-group{
display:flex;
flex-direction:column;
gap:10px;
}

.consent{
display:flex;
flex-direction:column;
gap:10px;
}

button{
margin-top:20px;
padding:10px 25px;
border:none;
border-radius:25px;
background:#00e0ff;
cursor:pointer;
}

.progress-bar{
display:flex;
gap:10px;
margin-bottom:20px;
}

.step{
height:6px;
flex:1;
background:#ccc;
border-radius:10px;
}

.step.active{
background:#00e0ff;
}

.form-step{
display:none;
}

.form-step.active{
display:block;
}